<div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Discover Deals with OfferGenie</h2>
    <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">Unlock personalized offers tailored to your age and gender,<br>and experience shopping like never before!</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <%= link_to("Get started", new_user_path, class: "rounded-md bg-sky-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-500") %>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>
