<div class="bg-white shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-base font-semibold leading-6 text-gray-900"><%= offer.title %></h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <%= simple_format(offer.description) %>
    </div>
    <div class="mt-5 flex justify-end">
      <button type="button" class="inline-flex items-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500">
        Activate offer
      </button>
    </div>
  </div>
</div>
