<a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Stuff</a>
<a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Things</a>
<a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Help</a>
