<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render("head") %>
  </head>

  <body class="h-full">
    <header>
      <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
          <%= link_to(root_path, class: "-m-1.5 p-1.5") do %>
            <span class="sr-only">OfferGenie</span>
            <svg class="h-6 w-auto text-amber-500" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z"></path>
            </svg>
          <% end %>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
        </div>

        <div class="flex flex-1 justify-end">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Sign in</a>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
